---
import ListingLayout from '@/layouts/ListingLayout.astro';
import ListingCard from '@/components/astro/ListingCard.astro';
import type { Listing } from '@/types/index';

type PropertiesResponse = {
  properties: Listing[];
};

// 1. Llamas tu API interna
const res = await fetch("http://localhost:4321/api/properties");
const data = await res.json() as PropertiesResponse;

// 2. Ahora SI tiene tipo Listing[]
const listings = data.properties;
---


<ListingLayout>
  <div class="w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
    {listings.map(item => (
      <ListingCard {...item} />
    ))}
  </div>
</ListingLayout>


<!-- SSG Using mocks from json file ->> folder /data/... -->
<!-- ---
import ListingLayout from '@/layouts/ListingLayout.astro';
import ListingCard from '@/components/astro/ListingCard.astro';
import listings from '@/data/properties.json';  
---


<ListingLayout>
  
  <div class=" w-full grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {listings.map(item => (
        <ListingCard {...item} />
      ))}
</div>
</ListingLayout>  -->
