---
import categories from "../../data/categories.json";
import CategoriesSlider from "@/components/vue/CategoriesSlider.vue";
---

<section class="w-full p-4 md:p-16">
  <div class="w-full mx-auto">

    <div class="text-center pb-8">
      <h2 class="text-4xl font-bold text-gray-800 mb-2">Categorías</h2>
      <p class="text-gray-600">Explora nuestras categorías de propiedades</p>
    </div>

  <CategoriesSlider client:load />
    
  </div>
</section>
