---
import categories from "../../data/categories.json";
import CategoriesSlider from "@/components/vue/CategoriesSlider.vue";
---

<section class="w-full py-12 px-6 md:px-24">
  <div class="max-w-7xl mx-auto">

    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold text-gray-800 mb-2">Categorías</h2>
      <p class="text-gray-600">Explora nuestras categorías de propiedades</p>
    </div>

  <CategoriesSlider client:load />
    
  </div>
</section>
