---
import categories from "../../data/categories.json";
import CategoriesSlider from "@/components/vue/CategoriesSlider.vue";
---

<section class="w-full p-4 md:px-16">



  <CategoriesSlider client:load />
    
 
</section>
