@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

/* swiper */
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";

@theme {
  --font-primary: "DM Sans", sans-serif;
  --font-secondary: "DM Sans", sans-serif;
  --color-primary: #2c42d0;
  --color-primary-dark: #0e1d37;
  --color-secondary: #005b9c;
  --color-secondary-dark: #1a356c;
  --color-accent: #d52b1e;
  --color-accent-dark: #981e32;
  --color-accent-red: #ad0e15;
  --color-accent-cherry: #7f000f;
  --color-foreground: #404040;
  --color-muted: #dedede;
  --color-white: #ffffff;
}

body {
  color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}
p,
cite,
span,
strong,
small {
  font-family: var(--font-secondary);
}
